# Ignore build directory
bin/

# Ignore packages directory
packages/

# Ignore temporary build objects directory
obj/

# Ignore *.suo files, temporary files by VS
*.suo

# Ignore build Nuget packages
*.nupkg